* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {
    --p1-earth-blue: #050C9C;
    --p1-ultramarine-blue: #3572EF;
    --p1-crystal-blue: #3ABEF9;
    --p1-light-blue: #A7E6FF;
    --p1-oyster-bay: #E1F7FF;
    --p2-blue-zodiak: #102C57;
    --p2-pavlova: #DAC0A3;
    --p2-bone: #EADBC8;
    --p2-bianca: #FEFAF6;
    --p3-eucalyptus: #118B50;
    --p3-silver-tree: #5DB996;
    --p3-light-khaki: #E3F0AF;
    --p3-old-lace: #FBF6E9;
    --p4-phthalo-green: #123524;
    --p4-medium-spring-green: #3E7B27;
    --p4-chelsea-cucumber: #85A947;
    --p4-tan-brown: #EFE3C2;
    --white: #ffffff;
    --black: #000000;
}

@font-face {
    font-family: mighty-souly;
    src: url(../../ASSETS/font/mighty-souly-font/MightySouly-lxggD.ttf);
}

@font-face {
    font-family: spenbeb-game;
    src: url(../../ASSETS/font/spenbeb-game-font/SpenbebGame-R9q46.otf);
}

@font-face {
    font-family: rationale;
    src: url(../../ASSETS/font/Rationale/Rationale-Regular.ttf);
}

.container {
    width: 100%;
    max-width: 1540px;
    margin: auto;
    padding: 0;
    height: 100%;
}

body {
    background-color: var(--black);
}

main.container {
    background-image: linear-gradient(180deg, var(--white), var(--p1-light-blue));
    background-size: cover;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

p {
    color: var(--black);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.button {
    font-family: mighty-souly;
    width: max-content;
    background-color: var(--p3-light-khaki);
    border-radius: 1rem;
    padding: .25rem 1.25rem;
}

.button a {
    color: var(--p1-earth-blue);
}

.button:hover {
    transition: linear .2s;
    background-color: var(--p1-earth-blue);
    box-shadow: 0 0 1rem var(--white);
}

.button:hover a {
    color: var(--white);
}

.section-marker-bottom {
    position: absolute;
    background-color: var(--p3-light-khaki);
    width: 100%;
    height: 4.5rem;
    left: 0;
    bottom: 0;
    clip-path: polygon(0% 10%, 5% 0%, 20% 40%, 50% 0%, 75% 50%, 90% 0%, 100% 30%, 100% 100%, 0% 100%);
}

.section-marker-top {
    position: absolute;
    background-color: var(--p3-light-khaki);
    width: 100%;
    height: 4.5rem;
    left: 0;
    top:0;
    clip-path: polygon(0% 10%, 5% 0%, 20% 60%, 50% 0%, 75% 50%, 90% 0%, 100% 70%, 100% 100%, 0% 100%);
    transform: scaleX(-1);
    transform: rotate(180deg);
}

.background-logo {
    position: absolute;
    width: 100%;
    height: inherit;
    background-image: url("../../ASSETS/image/logo/palorant/export-result/dark/palorant-dark-no-text.png");
    background-size: 4rem;
    opacity: .1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-logo img {
    width: 70%;
}

@media only screen and (max-width: 1366px) { /*dekstop mode*/
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1024px) { /*dekstop mode*/
    html {
        font-size: 12.25px;
    }
}

@media only screen and (max-width: 768px) { /*tablet portrait*/
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) { /*transition position*/
    html {
        font-size: 11px;
    }
}

@media only screen and (max-width: 480px) { /*smartphone portrait*/
    html {
        font-size: 9.5px;
    }
}

@media only screen and (max-width: 400px) { /*smartphone smaller*/
    html {
        font-size: 8px;
    }
}